#container {
    width: auto;
}

.base-title {
    font-size: 36px;
    font-family: Roboto Condensed !important;
}

.title {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: start;
}

.plot-info {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p {
    margin: 5px !important;
}

.dropdown {
    display: block !important;
    width: 273px !important;
    height: 43px !important;
    font-size: 25px !important;
    margin: 9px !important;
}


.plot-dropdowns {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.inputs p {
    margin-right: 289px !important;
}

.inner-inputs {
    margin-right: 86px;
}

.tym {
    margin-right: 9px !important;
    width: 273px;
}

#padded-form {
    padding: 100px;
}

#submit-trial-plot-btn {
    background-color: #588c0d;
    width: 261px;
    height: 110px;
    margin-left: 359px;
    margin-top: 100px;
    border-radius: 38px;
    color: white;
    font-family: Roboto Condensed;
    font-size: 24px;
}