#container {
    width: auto;
}

#padded-form-create {
    margin: 15px;
}

.base-title {
    font-size: 36px;
    font-family: Roboto Condensed !important;
}

.title {
    display: flex;
    justify-content: center;
}

.edit-font {
    font-size: 25px;
    font-family: Roboto Condensed !important;
}

.card-title {
    display: flex;
    justify-content: space-around;
}

.plot-info {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p {
    margin: 5px !important;
}

.btn {
    justify-content: center !important;
}

.dropdown {
    display: block !important;
    width: 273px !important;
    height: 43px !important;
    font-size: 25px !important;
    margin: 9px !important;
}


.plot-dropdowns {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.inner-inputs {
    margin-right: 86px;
}

.tym {
    margin-right: 9px !important;
    width: 273px;
}


#g {
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

#padded-form {
    margin: 47px;
    border: 2px solid black;
}

#trialForm {
    width: -webkit-fill-available;
}

#submit-trial-plot-btn {
    background-color: #588c0d;
    width: 233px;
    height: 70px;
    border-radius: 38px;
    color: white;
    font-family: Roboto Condensed;
    font-size: 24px;
    margin-top: 36px;

}

.poroda-adding {
    flex-direction: column;
    width: fit-content;
}

.poroda-info {
    display: flex;
    margin-left: 48px;
    justify-content: space-evenly;
}

.poroda-info div p {
    font-size: 20px;
    font-family: Roboto Condensed;
}

.editable-table {
    margin: 50px;
    border: 2px solid black;
}

@media only screen and (max-width: 996px) {
    #g {
        flex-direction: column;
    }

    .plot-info {
        justify-content: center;
    }

    .info {
        width: 600px;
    }
}

.popup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 50% !important;
}

.not-visible-popup {
    display: none;
}

.visible-popup {
    background-color: white !important;
    opacity: 1 !important;
    z-index: 9999;
}

.faded {
    background-color: gray !important;
    opacity: 1 !important;
    transition: opacity 0.3s !important;
}

.huy{
    color: green;
}

.faded .MuiPaper-root {
    background-color: gray !important;
    opacity: 1 !important;
    transition: opacity 0.3s !important;
}

 .faded .MTableHeader-header-13 {
    background-color: gray !important;
    opacity: 1 !important;
    transition: opacity 0.3s !important;
}

.visible-popup .MuiPaper-root {
    color: rgba(0, 0, 0, 0.87) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    background-color: #ffffff !important;
}

.visible-popup .MTableHeader-header-13 {
    top: 0 !important;
    z-index: 10 !important;
    position: sticky !important;
    background-color: #ffffff !important;
}

.visible-popup .MuiPaper-root .MuiPaper-elevation2 .MuiPaper-rounded {
    top: 0 !important;
    z-index: 10 !important;
    position: sticky !important;
    background-color: #ffffff !important;
}

.delete-poroda-btn {
    background-color: red !important;
    margin-top: 19px !important;
}

.add-poroda-form {
    margin: 50px;
}

#adding-poroda-inner-div {
    align-items: center;
    border: 2px solid black;
    padding: 23px;
    margin-top: 20px;
}

#tax-table {
    border: 2px solid black;
    margin: 47px;
}

.centered-cells .MuiTableCell-alignRight {
    text-align: center;
    border: 1px solid rgba(224, 224, 224, 1);
}

.centered-cells .MuiTableCell-body {
    border: 1px solid rgba(224, 224, 224, 1);
}

.chart {
    margin: 47px;
    border: 2px solid black;
    position: relative;
}

.spline-chart {
    position: absolute;
    width: 100%;
    height: 564px;
    top: 86px;
    left: 1px;
}

.Component-root-4 {
    display: none !important;
}

.Component-root-18 {
    display: none !important;
}

#delete-trial-plot-btn {
    background-color: red;
    width: 233px;
    height: 70px;
    color: white;
    font-family: Roboto Condensed;
    font-size: 24px;
    margin-top: 36px;
    margin-right: 49px;
}

.delete-btn {
    display: flex;
    justify-content: flex-end;
}

#move-trial-plot-btn {
    background-color: #588c0d;
    width: 233px;
    height: 70px;
    color: white;
    font-family: Roboto Condensed;
    font-size: 24px;
    margin-top: 36px;
    margin-right: 49px;
}

